

html {
    font-size: 20px; 
    font-family: "Open Sans", sans-serif; 
    background-color: #000000;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #353535;
    padding: 10px 20px 20px 20px;
    border: 5px solid rgb(255, 255, 255);
}

h1 {
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: #08A300
}

h2 {
    margin: 0;
    font-size: 22px;
    text-align: center;
    color: #08A300;
}

p, li {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: bold;
    color: #4bbd12
}

footer {
    font-size: 12px;
    text-align: center;
    color: #08A300
}

img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

iframe {
    width: 90vw;
    height: 90vh;
}
  